$mobile-width: 767px;
$tablet-width: 1023px;

$textLato: "Lato", arial, sans-serif;
$textLatoBolt: "Lato-Bolt", arial, sans-serif;
$textRubik: "Rubik", arial, sans-serif;
$textRubikBolt: "Rubik-Bolt", arial, sans-serif;
